img {
    max-width:100%;
    height:auto;
}

h1 {
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family: 'Work Sans', sans-serif;
    color: gray;
}

a {
    font-family: 'Work Sans', sans-serif;
}

body {
    text-align: center;
    margin-bottom: 100px;
}

.uci_now {
    width: 100%;
    margin: auto;
}

#sublist a {
    font-size: 15px;
    margin-left: 15px;
}

#menu {
    padding-right: 20px;
    padding-top: 20px;
    max-width: 4.5%;
    position: fixed;
    top: 10px;
    right: 10px;
}

.menu img {
    float: right;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.footer {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 2.5%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #b3b3b3;
    font-size: 10px;
    text-align: center;
}